.solar-charts .outputs {
  margin: 12px;
  background: #0078d7;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
  font-size: 24px;
  line-height: 36px;
}

.solar-charts .row {
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.solar-charts .chart {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.solar-charts .table {
  width: 40%;
  padding: 40px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .solar-charts .row {
    flex-direction: column;
    width: 100%;
  }

  .solar-charts .chart,
  .solar-charts .table {
    width: 100%;
  }
}

.solar-charts .numOutput {
  color: lime;
}

.google-visualization-table > div {
  overflow: visible !important;
}

.google-visualization-table-table tr {
  position: relative;
}

.popover {
  position: absolute;
  right: 100%;
  top: 0;
  z-index: 99;
  display: none;
  padding-right: 12px;
}

.popover-inner {
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 10px;
  width: 200px;
}

@media (hover: hover) {
  .google-visualization-table-table tr:hover .popover {
    display: block;
  }

  .mobile-link {
    display: none;
  }
}

.elementor-shortcode br,
.elementor-shortcode p {
  display: none !important;
}

.outputs-new-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  font-family: sans-serif;
  padding: 24px;
  padding-left: 72px;
  padding-right: 72px;
  margin: 24px;
  margin-bottom: 0px;
  border: 1px solid #0078d7;
  border-radius: 6px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
}

.output-item {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.unit {
  font-size: 24px;
  font-weight: bold;
  color: #008cff;
}

.outputs-top {
  display: flex;
}

.big-number {
  font-size: 72px;
  letter-spacing: -1px;
  line-height: 72px;
  color: #0078d7;
}

@media screen and (max-width: 960px) {
  .outputs-new-inner {
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
  }

  .output-item {
    margin-left: 0;
    margin-right: 0;
  }
}
