.solar-charts .outputs {
  margin: 12px;
  background: #0078d7;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
  font-size: 24px;
  line-height: 36px;
}

.solar-charts .row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.solar-charts .chart {
  width: 60%;
  display: flex;
  justify-content: center;
}

.solar-charts .table {
  width: 40%;
  padding: 40px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .solar-charts .row {
    flex-direction: column;
    width: 100%;
  }

  .solar-charts .chart,
  .solar-charts .table {
    width: 100%;
  }
}

.solar-charts .numOutput {
  color: lime;
}

.google-visualization-table > div {
  overflow: visible !important;
}

.google-visualization-table-table tr {
  position: relative;
}

.popover {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 99;
  display: none;
  padding-left: 12px;
}

.popover-inner {
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 10px;
  width: 200px;
}

@media (hover: hover) {
  .google-visualization-table-table tr:hover .popover {
    display: block;
  }

  .mobile-link {
    display: none;
  }
}
